@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button type="button" data-toggle="modal" data-target="#quoteRequestModal">Request Quotation</button>

    <partial name="~/Views/Home/RequestQuote.cshtml"/>
</div>


<script src="~/js/home/requestQuote.js"></script>
<link rel="stylesheet" href="~/css/requestQuote.css" />